<label for="name">Name</label>
<input class="form-control"
       placeholder="facebook"
       ng-model="model.widget.name"
       id="name"/>

<label for="text">Text</label>
<input class="form-control"
       placeholder="facebook"
       ng-model="model.widget.text"
       id="text"/>

<label for="rows">Rows</label>
<input class="form-control"
       type="number"
       placeholder="1"
       ng-model="model.widget.rows"
       id="rows"/>

<label for="placeholder">Placeholder</label>
<input class="form-control"
       placeholder="text"
       ng-model="model.widget.placeholder"
       id="placeholder"/>

<div  class="form-control">
<label for="formatted">Formatted</label>
<input id="formatted"
       class="pull-right"
       ng-model="model.widget.formatted"
       type="checkbox"/>
</div>