<label for="name">Name</label>
<input class="form-control"
       placeholder="facebook"
       ng-model="model.widget.name"
       id="name"/>

<label for="text">Text</label>
<input class="form-control"
       placeholder="facebook"
       ng-model="model.widget.text"
       id="text"/>

<label for="size">Size</label>
<select id="size" class="form-control" ng-model="model.widget.size">
    <option>1 (X-Large)</option>
    <option>2 (Larger)</option>
    <option>3 (Large)</option>
    <option>4 (Medium)</option>
    <option>5 (Small)</option>
    <option>6 (Smallest)</option>
</select>