input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

nav.navbar-default {
    color:white;
    background-color: #9acfea;
}

.main-container {
    margin-top: 50px;
}

/*.pull-right {*/
    /*padding-right: 10px;*/
/*}*/