input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

nav.navbar-default {
    color:white;
    /*background-color: #9acfea;*/
}

.main-container {
    margin-top: 50px;
}

.change-margin-right-15 {
    margin-right: 15px;
}
.description {
    display: inline;

}

.noborder {
    border: 0;
}

a:hover  {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.top-padding-2 {
    padding-top:2px;
}

.border-1 {
    border:6px;
}