<div class="widget-youtube">
    <div class="widget-toolbar pull-right">
        <a
                ng-href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
            <span class="glyphicon glyphicon-cog">
            </span>
        </a>
        <span
              class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <div class="video-container">
        <iframe width="{{widget.width}}" height="500px"
                src="{{model.getYouTubeEmbedUrl(widget.url)}}"
                frameborder="0"
                allowfullscreen></iframe>
    </div>
</div>

