<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
               class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
            </a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                Widgets
            </a>
            <div class="navbar-text pull-right change-margin-right-15">
                <a
                        ng-click="model.updateWidget()"
                        class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid main-container">
    <div class="input-group">
        <input
                ng-model="searchText"
                type="text"
                class="form-control">
        <span class="input-group-btn">
        <a ng-click="model.searchPhotos(searchText)"
           class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>

    </div>

    <!--{{model.photos}}-->
    <div class="row">
        <div class="col-xs-4" ng-repeat="photo in model.photos.photo">
            <img ng-click="model.selectPhoto(photo)"
                 ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
        </div>
    </div>
</div>


<nav class="navbar bg-primary navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-right navbar-text">
            <a href="#!/profile" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>