<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="widget-chooser.html" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
            </a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Choose Widgets
            </a>
            <div class="navbar-text pull-right change-margin-right-15">
                <a href="widget-list.html" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="container main-container">
    <div class="container-fluid">

        <label for="name">Name</label>
        <input class="form-control" placeholder="facebook" value="top heading"
               id="name">

        <label for="text">Text</label>
        <input class="form-control" placeholder="facebook"
               value="US Senate Reaches Compromise" id="text">

        <label for="file">Upload</label>
        <input id="file" multiple="" type="file" class="form-control">

        <a href="" class="btn btn-block btn-success">Upload</a>

        <div class="margin-top-15">
            <a href="widget-list.html"
               class="btn btn-block btn-danger">Delete</a>
        </div>
    </div>

</div>

<nav class="navbar bg-primary navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-right navbar-text">
            <a href="../../user/templates/profile.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>