<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page"
               class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
            </a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                Widgets
            </a>
            <div class="navbar-text pull-right change-margin-right-15">
                <a
                        ng-click="model.updateWidget()"
                        class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div ng-switch="model.widget.widgetType"
     class="container-fluid main-container">
    <!--{{model.widget}}-->
    <div ng-switch-when="HEADING">
        <ng-include
                src="'./views/widget/editors/widget-heading-edit.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include
                src="'./views/widget/editors/widget-image-edit.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include
                src="'./views/widget/editors/widget-youtube-edit.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="HTML">
        <h2>html link, can only be delete for now. </h2>
    </div>
    <a ng-click="model.deleteWidget()"
       class="btn btn-block btn-danger margin-top-15">
        Delete</a>
</div>


<nav class="navbar bg-primary navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-right navbar-text">
            <a href="#!/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>