<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page"
               class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
            </a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                Widgets
            </a>
            <div class="navbar-text pull-right change-margin-right-15">
                <a
                        href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                        class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </div>
        </div>
    </div>
</nav>


<wbdv-sortable data="model" callback="model.sortWidgets(initial,final)">check</wbdv-sortable>

<nav class="navbar bg-primary navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-left navbar-text">
            <a class="navbar-link change-margin-right-15">
                <span class="glyphicon glyphicon-play"></span>
            </a>
            <a class="navbar-link">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
        </div>
        <div class="pull-right navbar-text">
            <a href="#!/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>