<label for="name">Name</label>
<input class="form-control"
       placeholder="facebook"
       ng-model="model.widget.name"
       id="name"/>

<label for="text">Text</label>
<input class="form-control"
       placeholder="facebook"
       ng-model="model.widget.text"
       id="text"/>

<label for="url">Url</label>
<input class="form-control"
       placeholder="http://"
       ng-model="model.widget.url"
       id="url"/>

<label for="width">Width</label>
<input class="form-control"
       placeholder="width"
       ng-model="model.widget.width"
       id="width"/>

