<!--<div class="container-fluid main-container">-->

    <label for="name">Name</label>
    <input class="form-control"
           placeholder="facebook"
           ng-model="model.widget.name"
           id="name">

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="facebook"
           ng-model="model.widget.text"
           id="text">

    <label for="file">Upload</label>
    <input id="file"
           multiple=""
           type="file"
           class="form-control">

    <a href="" class="btn btn-block btn-success margin-top-15">Upload</a>