<h2> <%= entityName%> List Temp </h2>
<ul class="list-group">
    <li ng-repeat="<%= entityName %> in model.<%= entityName %>s"
        class="list-group-item">
        {{<%= entityName%>}}
    </li>
</ul>