<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header ">
            <p class="navbar-text pull-left change-margin-left-15">
                <a href="../views/website/website-list.html" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Pages
            </a>
            <div class="navbar-text pull-right change-margin-right-30">
                <a href="page-new.html" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid main-container">
    <ul class="list-group ">
        <li class="list-group-item list-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-11">
                    Name
                </div>
                <div class="col-lg-3 visible-lg">
                    Created
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    Accessed
                </div>
                <div class="col-xs-1">

                </div>
            </div>
        </li>
        <li class="list-group-item noborder">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-11">
                    <a href="../views/widget/widget-list.html">
                        Blog Post
                    </a>
                </div>
                <div class="col-lg-3 visible-lg">
                    1/1/2017
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    2/2/2017
                </div>
                <div>
                    <a href="page-edit.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item noborder">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-11">
                    <a href="../views/widget/widget-list.html">
                        Blogs
                    </a>
                </div>
                <div class="col-lg-3 visible-lg">
                    1/1/2017
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    2/2/2017
                </div>
                <div>
                    <a href="page-edit.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item noborder">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-11">
                    <a href="../views/widget/widget-list.html">
                        Home
                    </a>
                </div>
                <div class="col-lg-3 visible-lg">
                    1/1/2017
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    2/2/2017
                </div>
                <div>
                    <a href="page-edit.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item noborder">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-11">
                    <a href="../views/widget/widget-list.html">
                        About
                    </a>
                </div>
                <div class="col-lg-3 visible-lg">
                    1/1/2017
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    2/2/2017
                </div>
                <div>
                    <a href="page-edit.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item noborder">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-11">
                    <a href="../views/widget/widget-list.html">
                        Contact Us
                    </a>
                </div>
                <div class="col-lg-3 visible-lg">
                    1/1/2017
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    2/2/2017
                </div>
                <div>
                    <a href="page-edit.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>

</div>

<nav class="navbar bg-primary navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-right navbar-text">
            <a href="../views/website/user/profile.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>